{% extends "blog/base.html" %}
{% load django_markdown django_markdown_static %}
{% load replace %}

{% block custom_styles %}
  <link href="/static/css/django_markdown_preview.css" rel="stylesheet">
{% endblock %}

{% block breadcrumb_nav %}
<div class="scp-breadcrumb">
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'home' %}">Article</a></li>
        <li class="active">{{ object.slug }}</li>
    </ul>
</div>
{% endblock breadcrumb_nav %}

{% block main %}
    <h2 class="blog-post-title">{{object.title}}</h2>
    {% replace search="div class=\"collapse\"" replacement="div class=\"collapse in\"" %}
        {{ object.text | markdown }}
    {% endreplace %}

<!-- disqus BEGIN -->
<div id="disqus_thread"></div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//xusio.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<!-- disqus END -->

{% endblock %}
